<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流量活动</string>
		<key>imageName</key>
		<string>earn_img_hd02</string>
	</dict>
</array>
</plist>
